#parametersListView {
  li {
    padding-left: 7%;
    padding-right: 1.6rem;
    div {
      min-height: 1.6rem;
      color: $tertiaryTextColor;
    }
    &.selected {
      background-color: $buttonBgColor;
    }
  }
}

.list-view-select-all {
  padding: 0.8571rem 1.6rem 0.8571rem 7%;
  div {
    min-height: 1.6rem;
  }
}